.form-group {
    margin-bottom: 5px;
}

input.hidden {
    position: absolute;
    left: -9999px;
}

.tital {
    font-size: 16px;
    font-weight: 500;
}

.bot-border {
    border-bottom: 1px #f8f8f8 solid;
    margin: 3px 0 3px 0
}

.col-sm-7 {
    font-size: 15px;
}

th {
    text-align: center;
}

div .row {
    margin-left: 5px;
    margin-top: 5px;
}

.modal-content {
    position: relative;
}

img.img-circle {
    width: 60px;
    height: 60px;
    border: 2px solid #03b1ce;
    -webkit-border-radius: 100%;
    -moz-border-radius: 100%;
    border-radius: 100%;
}

ul {
    list-style: none;
    margin-left: 0;
    padding-left: 0;
}

li {
    margin-bottom: 15px; /* à adapter */
}

@media print {
    .btn {
        display: none !important;
    }
}

.bootstrap-tagsinput {
    width: 100%;
}

.bootstrap-tagsinput .tag {
    color: white;
    background: #8b74ff;
    padding: .3em .6em .3em;
    font-size: 75%;
    font-weight: 700;
    line-height: 1;
    text-align: center;
    white-space: nowrap;
    vertical-align: baseline;
    border-radius: .25em;
}

.twitter-typeahead .tt-query,
.twitter-typeahead .tt-hint {
    margin-bottom: 0;
}

.twitter-typeahead .tt-hint {
    display: none;
}

.tt-menu {
    position: absolute;
    top: 100%;
    left: 0;
    z-index: 1000;
    display: none;
    float: left;
    min-width: 160px;
    padding: 5px 0;
    margin: 2px 0 0;
    list-style: none;
    font-size: 14px;
    background-color: #ffffff;
    border: 1px solid #cccccc;
    border: 1px solid rgba(0, 0, 0, 0.15);
    border-radius: 4px;
    -webkit-box-shadow: 0 6px 12px rgba(0, 0, 0, 0.175);
    box-shadow: 0 6px 12px rgba(0, 0, 0, 0.175);
    background-clip: padding-box;
    cursor: pointer;
}

.tt-suggestion {
    display: block;
    padding: 3px 20px;
    clear: both;
    font-weight: normal;
    line-height: 1.428571429;
    color: #333333;
    white-space: nowrap;
}

.tt-suggestion:hover,
.tt-suggestion:focus {
    color: #ffffff;
    text-decoration: none;
    outline: 0;
    background-color: #428bca;
}