.form-group {
    margin-bottom: 5px;
}

input.hidden {
    position: absolute;
    left: -9999px;
}

.tital {
    font-size: 16px;
    font-weight: 500;
}

.bot-border {
    border-bottom: 1px #f8f8f8 solid;
    margin: 3px 0 3px 0
}

.col-sm-7 {
    font-size: 15px;
}

th {
    text-align: center;
}

div .row {
    margin-left: 5px;
    margin-top: 5px;
}

.modal-content {
    position: relative;
}

img.img-circle {
    width: 40px;
    height: 40px;
    border: 2px solid #03b1ce;
    -webkit-border-radius: 100%;
    -moz-border-radius: 100%;
    border-radius: 100%;
}

ul {
    list-style: none;
    margin-left: 0;
    padding-left: 0;
}

li {
    margin-bottom: 15px; /* à adapter */
}

@media print {
    .btn {
        display: none !important;
    }
}
