{% extends 'base.html.twig' %}
{% block head %}
    <title>Ajout d'un nouveau profile </title>
{% endblock %}

{% block stylesheets %}

    <style>
        body {
            margin-left: 20px;
        }
    </style>
{% endblock %}

{% block body %}
    <br>
    <div class="container">
        <h1>Créer un nouveau profile</h1>
        <hr>

        {% form_theme form 'bootstrap_3_horizontal_layout.html.twig' %}

        {{ form_start(form) }}
        {% include 'profile/forms/form.html.twig' %}
        <div class="form-group">
            <button type="submit" class="btn btn-primary" value="Create"><i class="fa fa-check" aria-hidden="true"></i>
                Créer
            </button>
            <a href="{{ path('profile_index') }}" class="btn btn-secondary"><i class="fa fa-times"
                                                                               aria-hidden="true"></i>
                Annuler</a>
        </div>
    </div>

    {{ form_end(form) }}

{% endblock %}
