#NetBeans Files
/nbproject

#PHPStorm Files
/.idea

#Eclipse Files
.buildpath
.project
/.settings

# Cache, session files and logs (Symfony3)
/var/cache/*
/var/logs/*
/var/log/*
/var/mysql/*
/var/sessions/*
!var/cache/.gitkeep
!var/logs/.gitkeep
!var/sessions/.gitkeep

# Parameters
/app/config/parameters.yml

# Managed by Composer
/app/bootstrap.php.cache
/var/bootstrap.php.cache
/bin/*
!bin/console
!bin/symfony_requirements

#Vendor
/vendor/

# Assets and user uploads
/web/bundles/
/web/js/compiled/
/web/css/compiled/
/web/js/translations/
/web/uploads/

# PHPUnit
/app/phpunit.xml
/phpunit.xml

# Build data
/build/

# Backup entities generated with doctrine:generate:entities command
**/Entity/*~
