{% extends 'base.html.twig' %}

{% block body %}

    {{ form_start(form) }}
    <div class="row">
        <div class="col-md-5">
            <h1>Creation d'une étape</h1>
        </div>
        <div class="col-md-7 text-right">
            <br>
            <input class="btn btn-success" type="submit" value="Create"/>
            <a class="btn btn-secondary" href="{{ path('etape_index') }}"><i class="fa fa-undo " aria-hidden="true"></i>
                Back to the list</a>
        </div>
    </div>
    <br>

    {% form_theme form 'bootstrap_3_horizontal_layout.html.twig' %}
    <div class="panel panel-default">
        <div class="panel-body">
            {{ form_widget(form) }}
            {{ form_end(form) }}
        </div>
    </div>
{% endblock %}
