<!DOCTYPE html>
<html>
{% block head %}{% endblock %}
    <head>
        <link rel="stylesheet" type="text/css" href="../../../web/assets/css/bootstrap.css">
        <script src="../../../web/assets/js/bootstrap.js"></script>
        <script src="../../../web/assets/js/jquery.js"></script>

        <meta charset="UTF-8" />
        <title>{% block title %}Welcome!{% endblock %}</title>
        {% block stylesheets %}{% endblock %}
        <link rel="icon" type="image/x-icon" href="{{ asset('favicon.ico') }}" />
    </head>
    <body>
        {% block body %}{% endblock %}
        {% block javascripts %}{% endblock %}
    </body>
</html>
