{% extends 'base.html.twig' %}
{% block title %}
    Ajout d'une nouvelle candidature
{% endblock %}

{% block javascripts %}
    <script>
        $(document).ready(function () {
//            $('#appbundle_candidature_profile').disabled();
//            $('#appbundle_candidature_profile').css({
//                'color': 'red',
//            });


            $('#appbundle_candidature_profile').hide();


            $('[id^=validate_]').on('click', function (e) {
                var rowIndex = this.id.split("_").pop();
                $('#appbundle_candidature_profile').val(rowIndex);
                $('#myModal').modal('hide');
            });

            var table = $('#profiles').DataTable({
                "paging": true,
                "scrollX": true,
                "stateSave": true,
                "language": {
                    "url": "//cdn.datatables.net/plug-ins/1.10.13/i18n/French.json",
                }
            });

            table.columns().every(function (index) {
                var visible = this.visible();
                $('.toggle-vis').eq(index).prop('checked', visible);
            });

            $('.toggle-vis').on('change', function (e) {
                e.preventDefault();
                // Get the column API object
                var column = table.column($(this).attr('data-column'));
                // Toggle the visibility
                column.visible(!column.visible());
            });
        });

    </script>
{% endblock %}
{% block stylesheets %}
    <style>
label{
font-size: 11px ! important;
    text-transform: uppercase;font-weight:600;
}
    </style>
{% endblock %}

{% block body %}
    <div class="container-fluid ">
        {{ form_start(form) }}
        <div class="row">
            <div class="col-md-9">
                <h1><b>Ajouter une nouvelle candidature</b></h1>
            </div>
            <div class="col-md-3 text-right">
                <br>
                <Button type="submit" class="btn btn-primary" value="Create">
                    <i class="fa fa-check" aria-hidden="true"></i>
                    Créer
                </Button>
                <a href="{{ path('candidature_index') }}" class="btn btn-secondary">
                    <i class="fa fa-undo" aria-hidden="true"></i>
                    Retour</a>
                <br>

            </div>
        </div>
        <hr>
        {% form_theme form 'bootstrap_3_horizontal_layout.html.twig' %}
        <div class="panel panel-default">
            <div class="panel-body">
        {% include 'candidature/forms/form.html.twig' %}<br>
            </div></div>
        {{ form_end(form) }}
    </div>
{% endblock %}
